
#webTree{
    position: absolute;
    font-size: 16px;
    z-index: 1;
    height: 0;
    overflow: auto;
    background-color:white;
}
#webTree .tree-list{
    margin-left: 18px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}
#webTree .tree-list:first-child{
    border: none;
}

#webTree .tree-item{
    text-align: left;
    display: flex;
    flex-direction: column;
}
#webTree .tree-item:first-child{
    border-top: none;
}

#webTree .tree-title{
    font-size: 90%;
    height: 25px;
    width:100%;
    display: flex;
    align-items: center;
}

#webTree .tree-title{

}
#webTree .tree-title .tree-icon-state{
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -74px -54px;
    background-image: url("./images/zTreeStandard.png");
}
#webTree .tree-title .tree-icon-home{
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -110px 0;
    background-image: url("./images/zTreeStandard.png");
    margin-right: 5px;
}

#webTree .tree-title .tree-nochild{
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("./images/zTreeStandard.png");
    background-position: -110px -16px;
    margin-left:18px;
    margin-right:5px;
}

#webTree .tree-title.tree-open{
    
}

#webTree .tree-title a{
    color: #000;
    line-height: normal;
}
#webTree .tree-title:hover a{
    color: #fff;
}
#webTree .tree-title a:hover{
    text-decoration: underline;
}
#webTree .tree-title:hover{
    background-color: rgb(92 171 206);
}

/* #webTree .tree-title:hover{
    background-color: rgb(92 171 206);
}
#webTree .tree-title .tree-icon-show{
    
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -74px -54px;
    background-image: url("./images/zTreeStandard.png");
}
#webTree .tree-title .tree-icon-hide{
    
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -74px -18px;
    background-image: url("./images/zTreeStandard.png");
}
#webTree .tree-title a{
    color: #000;
    line-height: normal;
}
#webTree .tree-title:hover a{
    color: #fff;
}
#webTree .tree-title a:hover{
    text-decoration: underline;
}
#webTree .tree-title .tree-icon-home{
    
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -110px 0;
    background-image: url("./images/zTreeStandard.png");
    margin-right:5px;
}
#webTree .tree-nochild{
    margin-left: 18px;
}
#webTree .tree-title .tree-open{
    background-position: -92px -54px;
}
#webTree .tree-title .tree-open .tree-icon-home{
    
    background-position: -110px -16px;
}
#webTree .tree-title .tree-open .tree-icon-home{

} */